@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700;1,800&display=swap');


body{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(../trilha-css-desafio-01/assets/images/woman-code.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    align-items: center;
    display: grid;
}
.banner{
    height: 605px;
    background-color: black;
    border-bottom: 1px solid rgba(51, 168, 219, 1);
    display:grid;

    background-image: url(../trilha-css-desafio-01/assets/images/banner.png), linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2),rgba(0, 0, 0, 0.6));
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.banner-content{
    width: 510px;
    height: 393px;
    display: grid;
    justify-content: center;
    justify-items: center;
   
}
.logo{
    display: grid;
    background-color: rgba(0,0,0,0.2);
    width: 268px;
    height: 268px;
    align-items: center;
    justify-items: center;
    margin: 0;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
h1{
    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin: 0%;

    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content p{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: justify;

    color:white;
}

button{
   
    padding: 19px 91px 19px 91px;
    border: 2px;
    background: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: Raleway;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.21em;
    
    border-width: 2px;
    border-style: solid;
    border-color: #33A8DB;
    
}
main{
    margin: 0;
    padding: 0;
    align-items: center;
    display: grid;
    
}
main #course-content{

    height: 400px;
    background-color: black;
    display: grid;
    margin: 0;
    padding: 10px;
    align-content: center;
    justify-items: center;
    text-align: center;   
    border-bottom: 1px solid rgba(51, 168, 219, 1);   

}

#course-content h2{
  
    background: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
    width: fit-content;
    height: fit-content;
   
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.19em;
    margin: 0;
    text-transform: uppercase;
    
}
#course-content p{

    color: white;
    
    width: 820px;
    height: fit-content;

    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.48px;
    letter-spacing: 0.02em;
}
.modules-list{
    display: grid;
    grid-gap: 10px;
   
    align-content: center;
   
}

.module{
    width: 535px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 57px;
    border: 1px solid rgba(51, 168, 219, 1);
    background: linear-gradient(0deg, #252525, #252525);
    box-shadow: inset -2px 5px 5px 0px black;
    
    align-content: center;
    gap: 5px;
    color: white;

    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;

}
span{
    
    background: linear-gradient(0deg, #33A8DB, #33A8DB),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
#transform-world{

   
    height: 363px;
    border-bottom: 1px solid rgba(51, 168, 219, 1);
    display: flex;
    align-items: center;
    

}
#transform-world p{
    
    color:white;
    width: 250px;
    display: flex;
    

    text-shadow: 2px 4px 1px rgba(51, 168, 219, 1);
    text-transform: lowercase;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;


    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;

    padding: 150px;
    
    height:fit-content ;

}
#professional-challenges{

    background-color: black;
    margin: 0;
    height: 800px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#professional-challenges h2{

    width: 800px;
    margin: 0;
    margin-top: 50px;

    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.19em;
    text-align: center;

    background: rgba(51, 168, 219, 1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;

}
#professional-challenges p{

    width: 792px;
    height: 76px;
    top: 2154px;
    left: 324px;
    color: white;

    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}
footer{

    height: 170px;
    display: grid;
    background:linear-gradient(rgba(0, 0, 0, 0.6)20%, rgba(19, 119, 161, 0.1), rgba(2, 165, 235, 0.2)60%),#000000;
    

    border-top: 1px solid rgba(51, 168, 219, 1);
    
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    


}
footer img{
    display: grid;
    align-items: center;
    height: fit-content;
   
}

footer p{

    color:white;

    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    
}
footer p a {

    background: linear-gradient(0deg, #33A8DB, #33A8DB),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}